GEMINI_API_KEY=
AI_DIGEST_EMAIL_USER=
AI_DIGEST_EMAIL_PASSWORD=
AI_DIGEST_TELEGRAM_BOT_TOKEN=
AI_DIGEST_TELEGRAM_BOT_USERNAME=
AI_DIGEST_TELEGRAM_CHAT_ID=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
AI_DIGEST_PUBLIC_BASE_URL=
